@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$main-color: #08142b;
$secondary-color: #df980f;
$background-color: #040a16;
$text: #fff;

html {
  scrollbar-width: thin;
  scrollbar-color: $secondary-color $background-color;
}

#padding-container {
  padding-top: 78.76px;
}

.secondary-color {
  color: $secondary-color;
}

.bg-secondary-color {
  background-color: $secondary-color;
}

.bg-background-color {
  background-color: $background-color;
}

.back-icon {
  transition: transform 0.2s ease;
}

.back-icon:hover {
  transform: scale(1.2);
}

// stili cursori
.cursor-pointer {
  cursor: pointer;
}

html,
body,
#root {
  background-color: $background-color;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: $text;
  height: 100%;
  margin: 0;
  color: &$text !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 216px);
}

body {
  overflow-x: hidden !important;
}

////////////////////////HOME/////////////////////////////////
.custom-social-icon {
  width: 60px;
  margin-inline: 7px;
  filter: brightness(50%);
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.custom-social-icon:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.custom-exp {
  position: relative;
  overflow: hidden;
}

.custom-exp .btn-custom {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.custom-overlay {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle closest-side at center, transparent 40%, rgba(0, 0, 0, 0.5) 100%);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  border-radius: 8px;
}

.custom-exp:hover .btn-custom {
  opacity: 1;
  visibility: visible;
}

.custom-exp:hover .custom-overlay {
  opacity: 1;
  backdrop-filter: blur(4px);
}
//////////////////////////////// transizione per i link///////////////////////////////////////
.navbar {
  background-color: $main-color !important;
}

.nav-link-transition {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link-transition::before {
  content: "";
  position: absolute;
  top: 0;
  left: -103%;
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  transition: left 0.3s ease;
  z-index: -1;
}

.nav-link-transition:hover {
  color: $background-color;
}

.nav-link-transition:hover::before {
  left: -5%;
}

.custom-offcanvas {
  background-color: $main-color;
  color: $text;
  z-index: 9999;
}

.btn-custom {
  background-color: $secondary-color;
  color: $main-color;
  transition: background-color 0.3s ease, color 0.2s ease;
  border: 0;
  font-weight: 700;
}

.btn-custom:hover {
  background-color: $secondary-color;
  color: $text;
}

.btn-custom:active {
  background-color: $background-color !important;
}

.btn-blue {
  background-color: $main-color;
  color: $text;
  transition: background-color 0.3s ease;
  border: 0;
  font-weight: 700;
}

.btn-blue:hover {
  background-color: $main-color;
  color: $secondary-color;
  transition: color 0.2s ease;
}

// transizione per immagini categorie
.image-wrapper {
  display: flex;
}

.image-box {
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.image-box img {
  height: 50px;
  width: auto;
}

.image-box:hover {
  width: 180px;
  overflow: hidden !important;
}

.bg-blue {
  background-color: $main-color;
}

.bg-lightblue {
  background-color: #e6efff;
}

//  form per filtri

.form-checkbox-group input[type="checkbox"] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.form-checkbox-group label {
  margin-bottom: 11px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .form-checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  .form-checkbox-group label {
    margin-left: 2px;
  }
}

#filter-container {
  top: 120px;
}

// card

.card-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.product-name,
.product-price {
  margin: 0;
  text-align: center;
}

.holo-card,
.basic-card {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.5s, filter 0.5s;
  --x-percent: 50%;
  --y-percent: 50%;
}

.yugioh-card {
  aspect-ratio: 3 / 4.4;
}

.other-cards {
  aspect-ratio: 143/200;
}

.holo-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--x-percent) var(--y-percent),
    rgba(236, 155, 182, 1) 0%,
    rgba(204, 172, 111, 1) 20%,
    rgba(105, 228, 165, 1) 50%,
    rgba(142, 197, 214, 1) 60%,
    rgba(185, 140, 206, 1) 100%,
    transparent 100%
  );
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 0.3s, background-position 0.3s, background-size 0.3s;
  background-size: 170% 170%;
}

.holo-card:hover::after {
  opacity: 0;
}

.holo-active:hover::after {
  opacity: 1;
}

.basic-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--x-percent) var(--y-percent),
    rgba(255, 255, 255, 0.6) 0%,
    transparent 70%
  );
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 0.3s, background-position 0.3s;
}

.basic-card:hover::after {
  opacity: 0;
}

.basic-active:hover::after {
  opacity: 1;
}

//hotbuy
.custom-swiper-slide {
  min-width: 240px !important;
  max-width: 400px !important;
  padding: 50px;
}

.swiper-slide-active-custom {
  transform: scale(1.2);
  z-index: 99990;
}

////////////////////////////////////////////
///
///

.hotbuy-video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.hotbuy-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/////////////////////////// ESPANSIONI/////////////////////////

.card {
  position: relative;
  perspective: 2500px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.custom-card-title {
  transition: all 0.3s ease-in-out;
}

.card:hover .custom-card-title {
  transform: scale(1.03);
  color: $background-color !important;
}

.custom-release-date {
  transition: all 0.3s ease-in-out;
}

.card:hover .custom-release-date {
  transform: scale(1.03);
  color: $text !important;
}

@media (max-width: 767.98px) {
  .relative-container {
    position: relative;
  }
  .absolute-on-md {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999 !important;
    background-color: rgba(8, 20, 43, 0.7);
  }
}

.card-custom {
  overflow: hidden;
  border: 2px solid transparent;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  background: linear-gradient(to right, $main-color, $main-color);
  color: #fff;
}

.card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $secondary-color, $secondary-color);
  transition: left 0.3s ease-in-out;
  z-index: 0;
}

.card-custom:hover::before {
  left: 0;
}

.img-container {
  overflow: hidden;
  height: 200px;
}

.card-custom .card-img-top {
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.card-custom:hover .card-img-top {
  transform: scale(1.15);
}

.card-custom .card-body {
  z-index: 1;
  position: relative;
}
//////////////////////////// CARRELLO //////////////////////////
.message-enter {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.message-enter-active {
  opacity: 1;
}

.message-exit {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.message-exit-active {
  opacity: 0;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-counter {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 0.75em;
  transition: transform 0.5s ease;
  z-index: 1050;
}

.invisible {
  visibility: hidden;
}

.cart-counter span {
  display: block;
}

.custom-icon {
  transition: transform 0.2s ease;
}

.custom-icon:hover {
  transform: scale(1.5);
}

.custom-expand-icon {
  transition: transform 0.2s ease;
}

.custom-expand-icon:hover {
  transform: scale(1.2);
}

//////////////////////// ORDINI //////////////////////////

.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.circle.active {
  background-color: #4caf50;
  color: white !important;
}

.custom-check {
  color: #4caf50 !important;
  font-size: 30px;
}

.divider-line {
  flex: 1;
  height: 2px;
  background-color: #ccc;
  transition: background-color 1s ease-in-out;
}

.divider-line.active {
  background-color: #4caf50;
}

.label {
  margin-top: 7px;
}

.badge-rarity {
  background-color: #cb9eff;
  color: black;
}

.modal-dialog-centered {
  transform: translate(0, -20%) !important;
}

.modal.no-border .modal-dialog {
  border: none !important;
  box-shadow: none !important;
}

.modal.no-border .modal-content {
  background-color: $main-color !important;
  border: none !important;
  box-shadow: none !important;
}

//////////////////////////// FOOTER //////////////////////////

.footer {
  position: sticky;
  background-color: $main-color;
  z-index: 1040 !important;
}

.footer-link {
  color: rgb(206, 206, 206);
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

//////////////////////////// CHATBOT //////////////////////////

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 426px) {
  .chat-container {
    position: fixed;
    top: 0;
    right: 0 !important;
    bottom: 0;
    left: 0 !important;
    max-width: none;
    height: 100vh !important;
    overflow: auto;
  }
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message-bot {
  text-align: left;
  margin-left: 10px;
}

.message-user {
  text-align: right;
  margin-right: 10px;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.input-custom-group .input-group-custom-append .btn {
  padding: 0.375rem 0.75rem;
}

/////////////////////////////////// FAQ //////////////////////////////////

.accordion-button {
  background-color: $main-color !important;
  color: $text !important;
  box-shadow: none !important;
  border-color: $background-color !important;
  border: 1px solid;
}

.accordion-button::after {
  display: none;
}

///////////////////////////// HOMEPAGE ///////////////////////////////////
.homepage-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid $secondary-color;
}

.homepage-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08142b;
  transform: scale(1.5);
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  opacity: 0;
}

.homepage-img:hover::before {
  transform: scale(1);
  opacity: 1;
}

.homepage-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  color: white;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.homepage-img:hover .homepage-img-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/////////////////////////////////////////////////////////////////////////

.order-details {
  user-select: none;
  pointer-events: none;
  touch-action: none;
}

.continuous-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 300px;
}

.carousel-track {
  display: flex;
  width: calc(400%);
  animation: scroll 250s linear infinite;
}

.continuous-carousel .carousel-track {
  position: relative;
}

.carousel-track img {
  width: 12.5%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70%);
  }
}

.position-absolute-custom {
  position: absolute !important;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10 !important;
  max-width: 80vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

@media (min-width: 1200px) {
  .position-absolute-custom {
    max-width: 970px;
  }
}

#nprogress .bar {
  z-index: 9999 !important;
  background: $secondary-color !important;
  height: 4px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  margin-inline: 10px !important;
}

////////////////////////// ADMIN CONTROL /////////////////////////////////////

.admin-control {
  background-color: $main-color;
  color: $text !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

.admin-control:hover {
  transform: scale(1.05);
  background-color: $secondary-color !important;
  color: $background-color !important;
}
